node_modules
venv
.DS_Store
points.db
points.db-journal
cache
out
.ipfs
app/static/json
land-polygons-complete-*
contracts/lib
*.terraform*
*.tfstate*
app/.cache
.parcel-cache/
app/static/nft/*
.idea
/package*
.next
.env
.env.*
!.env.example
